[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule ".vim/bundle/neosnippet-snippets"]
	path = .vim/bundle/neosnippet-snippets
	url = https://github.com/Shougo/neosnippet-snippets
